@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300,200,300,400,500,600,700|family=Roboto&display=swap:wght@300,200,300,400,500,600,700');

/*---------------------------------------------------------Reset body styling */

* {  
	vertical-align: baseline;  
	font-family: inherit;  
	font-style: inherit;  
	font-size: 100%;  
	border: none;  
	padding: 0;  
	margin: 0;  
}  

html, body {  
	padding: 5px;
    min-width: 100vw;  
    width: 100vw;
    height: 100vh;
}  

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
	margin: 20px 0;  
}  

.text-center {
    text-align: center!important;
}

.header {
    margin: 0;
}

/*----------------------------------------------------------------navigational bar styling*/

.navbar-brand {
     background: url('../images/mvn2d.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: auto;
     min-height: 0px;
}

.navbar{
    background-color: transparent !important;  
}

.navbar-nav {
    flex-direction: row;
}

.orangered {
    background-color: orangered !important;
}

.green {
    background-color: rgb(10, 191, 83) !important; 
}

.indigo {
    background-color: indigo !important;
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav {
    height: 30px !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    font-size: 100%;
    color: #fff!important;
    border-bottom: 1px solid transparent !important;
    transition: border-bottom 0.7s !important;
    -webkit-transition: all .7s ease-in-out !important;
    -moz-transition: all .7s ease-in-out !important;
    -o-transition: all .7s ease-in-out !important;

}

.navbar-nav li a:hover{
    transition: color 0.7s !important;
}

/*------------------------------------------------------------full width background images styling */



.mainframe {
    height: 100vh;
    width: 100vw;
    background: url('../images/mainframe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0 0 10px #0b36c3, 0 0 0 15px;
    
}

.background {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.whelen-arc {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/whelen-arc.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center; 
   
    
}

.christelle {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/christelle.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.ak-idun {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/ak-idun.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

 /*----------------------------------------------------------------landing page styling */

.mainframe-outer {
    height: 980px;
    width: 1000px;
}

.myname h1  {
    color: #F5F5F5;
    font-size: 350%;
    font-weight: 500;
    margin-bottom: 2rem;
    letter-spacing: 0.5rem;       
}

.jobtitle-inner h3 {
    color:#FFF;
    font-weight: bold;
    padding-top: 5px;
    
}

.jobtitle-inner :hover {
    filter: blur(2px)
}

.mist {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    margin-bottom: 40px;
    padding-bottom: 0px;
    text-align:center;
    z-index: -1;
}

/*------------------------------------------------------------general body & icon colouring styles*/

.section-heading-uppercase {
    float: left;
    background-color: #f8f9fa !important;
}

.display-1 {
    color: rgb(196, 62, 13);
}

.display-2 {
    color: hsl(120, 78%, 20%);
    font-size: xx-large;       
}

.display-3 {
    position: relative;
    color: purple;
    font-size: xx-large;
}

.display-4 {
    position: relative;
    left:20%;
    font-size: x-large;
    color: #f8f9fa;  
    text-shadow: 0.1em 0.1em 0.1em #3e3f3a, 0 0 0.1em #3e3f3a, 0 0 0.1em #3e3f3a, 0 0 0.2em #3e3f3a, 0 0 0.2em #3e3f3a, 0 0 0.3em #3e3f3a;
}

#myimage {
    height:600px;
  }

#leftside{
    padding-top: 600px;
    width: 33%;
    float: left;
    background-color: blue;
    margin: 5px;
}

.shadow h4 {
    text-align: center;
    text-justify: inter-word;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    max-width: 640px;
    border-color: rgb(224, 79, 53);
    font-weight: bold;
    right:10%;
}

.button{
    padding: 40px;
    margin: 0 auto;
}

.carousel-caption h4 {
    color: #3e3f3a;
    z-index: 1;
}

.carousel-wrapper{
    margin: 60px 40px;
}

.fa-tv {
    Margin: auto;
    color: #f63845;
}

.fa-question {
    Margin: auto;
    color: #2779A7;
}

.fa-trophy {
    Margin: auto;
    color: #49c5b6;
}

.fa-user {
    color:rgb(224, 79, 53);
    margin: 75px 75px;
}

.fa-cogs  {
    color:hsl(120, 78%, 20%);
    margin: 75px 75px;
}

.fa-phone {
    color:rgb(201, 41, 201);
    margin: 75px 75px;
}

.fa-globe-europe {
   margin-top: 2px;
   color: rgb(39, 41, 39);
}

.fa-code {
    margin-top: 2px;
    color: rgb(97, 117, 173)
}

.fa-briefcase {
    margin-top: 2px;
    color: rgb(212, 170, 31)
}

.fa-taxi {
    margin-top: 2px;
    color: rgb(241, 86, 38)
}

/*---------------------------------------------------------main body and components with colour styling */

#hero-container {
    width:300px;
    height:300px;
    border-style: solid;
    border-color:#cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.inner {
    float: right;
}

.lead p {
    color: #3e3f3a
}

.padding h1 {
    white-space: nowrap;
    position: relative;
    padding: 1rem;
    display: block;
    color: #4a4a4a;
    font-family: 'Mitr', sans-serif;
    font-size: 4vh;
    font-weight: 400;
    margin-bottom: 0rem;  
    scroll-margin-top: 5rem; 
    float: right; 
}

.about-us  {
     margin-top: 100px;
     padding: 150px 150px;
}

.padding {
    padding: 20px 0;
}

.padding img {
    width: 100%;
}

.col{
    flex-basis: 0;
    flex-grow: 1;  
}

.col-md-6 h1 {
  vertical-align:middle;
  text-align:center;
  padding:1rem;
}

.col-md-4 {	
  vertical-align:middle;
  text-align:center;
  padding:1rem;
}

li, dd, blockquote {  
	margin-left: 40px;  
}  

.table {  
	border-collapse: collapse;  
	border-spacing: 0;  
}

.bd-placeholder-img {
    padding: 22px;
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.div.col-12.page-title.light i.page-title-boxed {
    background-color: #F8F8FA;
    float: right;
   
}

div.col-12.page-title.light {
    color: #000;
}

.jumbotron {
    
    height: 35vh;
    color: rgb(85, 112, 201);
    font-weight: bold;
    margin-top: 85px;
    font-size: 20%;
    box-shadow: 0 0 10px #999, 0 0 0 15px;
 
}

.page-title-boxed-light p{
align-content: center;
padding: 20px 20px;
}


.wrapper {
    position: absolute;
    left: 500px;
    top: 500px;
}


.carousel-caption .text-center{
    padding-top: 31.25%;
    padding-bottom: 125%;  
}

.featurette-heading  {
    position: relative;
    left: 425px;  
}

.p-centered {
    position: fixed;
    left:425px;
    top: 50px;
}

/*------------------------------------------------------main body and and carousel general styling */

.carousel-inner > .item > img {
    width:4000%;
    height:2250%;
    color: transparent;
}

.uppercase {
    text-transform: uppercase;
    color:purple;
}

.p-3 {
    padding: 1rem!important;
}

.about-tile{
    display: inline-block;
}

.main-image{
    position: relative;
    float: left;
}

.inner{
    position: absolute;
    top: 200px;
    left: 500px;
    color: blue;
}

.col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

/*----------------------------------------------main body and customized Bootstraps progress bar general styling */

.progress-section {
    margin: 40px 20px;
    
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    top: 1px;
    padding: 1px 1px;
    
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 600;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: transparent;
    top: 7px;
    letter-spacing: 3px;
}

/*--------------------------------------------------main body and and custom JQuery timeline features general styling */

:root{
   
    background-color:  #fff;
}

.main-timeline{ font-family: 'Niramit', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{ margin: 0 -15px; }
.main-timeline .timeline-content{
    color: green;/*var(--color_1);*/
    text-align: left;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.3s;
}
.main-timeline  .timeline:hover .timeline-icon{ transform: rotateY(360deg); }
.main-timeline .timeline-year{
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-year:after{
    content: '';
    height: 60px;
    width: 107%;
    background-color: rgb(85, 112, 201);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.main-timeline .timeline-year span {
    color: white;
    background-color: rgb(85, 112, 201);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 120px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px #999, 0 0 0 15px;
    display: block;
}
.main-timeline .inner-content{
    padding: 0 10px 10px 15px;
    border-left: 15px solid 
}
.main-timeline .title{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.main-timeline .description{
    color: rgb(85, 112, 201);
    font-size: 15px;
    letter-spacing: 1px;
}

.row-timeline {
    margin: 60px 40px;
}

.timeline-icon {
color: #89b743;  
}

.fa-css3-alt{
    color: #2962ff;
}

.fa-js-square {
    color:#F0DB4F;
}

.fa-sass{
    color: #c69 
}

.skill-column .skill-pct-text {
    font-size: 1.75em;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: rgb(85, 112, 201);
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before{
    content: attr(data-dates);
    position: absolute;
    left: 5em;
    top: 3em;
    display: block;
    font-family: "mitr", sans-serif; 
    font-weight: 700;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

   .skill-column .skill-title {
    font-size: 1.25em;
    height: 50px;
}

    .btn-transparent {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #eeebe8; 
}

.text-light a {
    color: rgb(204, 253, 130);
}

/*--------------------------------------------------------footer element styling */

.footer-bg {
    /*background-color: #3e3f3a;*/
    /*color: #797062;*/
    background-color:rgb(0, 17, 44);
    color: rgb(85, 90, 124);
    padding: 20px;
    letter-spacing: 0.09rem;
}

.footer-heading{
    text-decoration: underline;
}

.container-fluid {
    max-width: 100%;
    background-color: transparent;
    font-size: 20%;
    z-index:1;
    margin-top: 100px;
    padding: 40px 40px;
    box-shadow: 0 0 10px rgb(10, 191, 83), 0 0 0 15px;     
}

.btn-position {
    top: 81vh;
    z-index:1;
}

.btn-lg {
    position: relative;
    left:21%; 
}

.more-btn {
    font-size: 1.5rem;
    color: #eeebe8;
    text-shadow: 0.1em 0.1em 0.1em #3e3f3a, 0 0 0.1em #3e3f3a, 0 0 0.1em #3e3f3a, 0 0 0.2em #3e3f3a, 0 0 0.2em #3e3f3a, 0 0 0.3em #3e3f3a;
}

/*-----------------------------------------------------various media screen sizes */

@media (max-width: 575.98px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    }
}

@media (min-width: 992px) {
.col-lg-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    }
}

@media (min-width: 768px) {
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    }
}

@media (min-width: 576px) {
.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    }
}

#your-custom-id p { margin: 0!important; line-height: 40px; }
@media only screen and (min-width: 767px) {
#your-unique-id .av_one_half:nth-child(1) {
    margin-left: 0!important;
}
#your-unique-id .av_one_half {
    margin-left: 1%!important;
    width: 49%!important;
    }
}


