@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300,200,300,400,500,600,700|family=Roboto&display=swap:wght@300,200,300,400,500,600,700');

/*-------------------------------------------- general body html styling */
* {  
	vertical-align: baseline;  
	font-family: inherit;  
	font-style: inherit;  
	font-size: 100%;  
	border: none;  
	padding: 0;  
	margin: 0;  
	}  

html, body {  
	padding: 5px;
    min-width: 100vw;  
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
	}  


h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
	margin: 20px 0;  
	}  



h3 {
    color: #FFFFFF;
  
}

.header {
    margin: 0;
}

/*-------------------------------------------- navigational bar styling*/

.navbar-brand {
     background: url('../images/mvn2d.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: auto;
     min-height: 0px;
}


    .navbar{
    background-color: #0b36c3 !important;
    
    }

    .navbar-nav {

        flex-direction: row;
    }

    .orangered {
        background-color: orangered !important;

    }

    .green {
    background-color: #5eb95e !important;
    
    }

    .indigo {
        background-color: indigo !important;

    }

.navbar .navbar-nav li a:hover, .navbar .navbar-nav  {
    height: 30px !important;
    text-decoration: none !important;
    color: rgb(250, 250, 114)!important;
    border-bottom: 1px solid transparent !important;
    transition: border-bottom 0.7s !important;
    -webkit-transition: all .7s ease-in-out !important;
    -moz-transition: all .7s ease-in-out !important;
    -o-transition: all .7s ease-in-out !important;
}

.navbar-nav li a:hover{
transition: color 0.7s !important;
}

        /*-------------------------------------------- full width background images */

.mainframe {
    height: 980px;
    width: 100vw;
    background: url('../images/mainframe.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100vh 100vh 100vh 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}


.background {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
   
}

.whelen-arc {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/whelen-arc.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
   
}

.christelle {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/christelle.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
   
}

.ak-idun {
    height: 100vh;
    width: 100vw;
    position: relative;
     background: url('../images/ak-idun.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

 /*-------------------------------------------- landing page styling */

.mainframe-outer {
    height: 980px;
    width: 1000px;
}

.myname h1  {
    color: #F5F5F5;
    font-size: 350%;
    font-weight: 500%;
    margin-bottom: 2rem;
    letter-spacing: 0.5rem;       
}

.jobtitle-inner h3 {
    color:#FFF;
    font-weight: bold;
    padding-top: 5px;
    transition: (3s);
}

.jobtitle-inner :hover {
    filter: blur(2px)
}

.mist {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    background-color: #F5F5F5;
    margin-bottom: 40px;
    padding-bottom: 0px;
    text-align:center;
    z-index: -1;
}

/*-------------------------------------------------general body styling */

.padding h1 {
    white-space: nowrap;
    position: relative;
    padding: 1rem;
    display: block;
    color: #4a4a4a;
    font-family: 'Mitr', sans-serif;
    font-size: 4vh;
    font-weight: 400px;
    margin-bottom: 0rem;  
    scroll-margin-top: 5rem; 
    float: right;
    
}

.about-us h2 {
    padding: 45px 0;
}

.padding {
    padding: 20px 0;
}

.padding img {
    width: 100%;
}


.col-md-6 h1 {
  vertical-align:middle;
  text-align:center;
  padding:1rem;
}

.col-md-4 {	
  vertical-align:middle;
  text-align:center;
  padding:1rem;
}

.lead {
    text-align: justify;
    text-justify: inter-word;
}


.container-fluid h3 {
    margin: 3.125rem; 
}

.fas-fa-phone {
    color: #202121;;
}

.icon {
    max-width: 200px;
}


li, dd, blockquote {  
	margin-left: 40px;  
	}  

table {  
	border-collapse: collapse;  
	border-spacing: 0;  
	}

.bd-placeholder-img {
    padding: 22px;
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      }

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.div.col-12.page-title.light i.page-title-boxed {
    background-color: rgba(59,63,80,.6);
}

div.col-12.page-title.light {
    color: #000;
}

.jumbotron {

    padding-top: 10rem;
    padding-right: 6rem;
    padding-bottom: 5rem;
    padding-left: 6rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}


.carousel-caption {
 padding-top: 5px;
 padding-bottom: 20px;

}

.carousel-caption .text-left .text-right{
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/*---------------------------------------footer element styling */



.col-sm-4 {
    background-color: #4a4a4a
 
}

.footer {
    width: 100%;
    color:#202121;
    font-size: xx-large;
    z-index:1;
}



/*@media (min-width: 1024px){
    .navbar-expand-lg {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }




    