/*ml-auto on line 76 causing submenu to go off page*/


/*-------------------------------------------- general body html styling --------------------------------------------------------------------*/

/*body h1 {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 9px;
    text-align: center;
}

.jumbotron p {
    color: rgb(248,248,255);
    font-weight: bold;
    margin-bottom: 30px;
    
}

/*-------------------------------------------- full width background image ------------------------------------------------------------------*/

/*.wood-container {
    height: 100vh;
    background: url('../images/wood.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

/*-------------------------------------------- background preload & job title overlay -------------------------------------------------------

/*.mist {

    position: absolute;
    top: 0;
    left: 0;
    height: 105vh;
    width: 100%;
    background-color: #797373;
    margin-bottom: 30px;
    padding-bottom: 5px;
    text-align:center;
    z-index: -1;
}

.animate__animated {

    box-sizing: content-box;
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid blue;
}

/*-------------------------------------------- job-title & job description  ----------------------------------------------------------------*/

/*.marketing {
    white-space: nowrap;
    position: left;
    font-size: 5vw;
    padding: 1rem;
    display: block;
    color: #fff;
}


.jobtitle-inner, h4 {
    color:#FFF;
    font-weight: bold;
    padding-top: 5px;
}*/





/*-------------------------------------------- general body html styling version 2 --------------------------------------------------------------------*/

html, body {
    height:100vh; 
    width:100vw;
    background-color: white !important;
   
}

/*-------------------------------------------- navbar elements   --------------------------------------------------------------------*/

.navbar{
    background-color: #eee2d6 !important;
    padding: 1% 0 !important;
    font-size: 1.2em !important; 
    min-height: 55px !important;
   
}
  

.navbar-brand {
    min-height: 30px !important;
    padding: 5px 0 15px 5px !important;
}

.navbar-nav li a {
    color:  solid black !important;
    padding: 0px 0px 0px 175px !important;
    margin: 0px 0px 0px 100px !important;
    min-height: 30px !important;
}

.navbar-nav li.active a:hover {
    color: #ffb57a!important;
}

.caviat {
    margin-right: 50px !important;
}



/*------------------------------------------- start of marketing block-text ---------------------------------------------------------------*/

.about-us h2 {
font-size: 435%;
font-weight: 400;
margin-bottom: 0px;
text-transform: uppercase;
color: #4a4a4a;
margin:auto;
}

.col-md-6 {
  vertical-align:middle;
  text-align:center;
  padding:1em;
}

.lead {
    text-align: justify;
    text-justify: inter-word;
}

.rounded-circle {
    background-size: contain;
    margin-bottom: 16px;
}


